<h1>Create Heroine:</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>


<%= form_with model: @heroine do |f| %>
    <%= f.label "Name" %>
    <p><%= f.text_field :name%></p>
    <%= f.label "Super Name" %>
    <p><%= f.text_area :super_name%></p>
    <%= f.label "Power" %>
    <p><%= f.collection_select(:power_id, Power.all, :id, :name) %></p>
    <%= f.submit %>
<% end %>

<p><%= link_to '<button type="button">Back</button>'.html_safe, heroines_path %><p>