<h1>Create a new Heroine</h1>

<% if !!flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <p><%= e %></p> <br>
    <% end %>
<% end %>

<%= form_with model: @heroine do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :super_name %>
    <%= f.text_field :super_name %>
    <%= f.collection_select(:power_id, Power.all, :id, :name) %>
    <%= f.submit %>
<% end %>